<div class="parent">
  <div class="flex">
    <div class="div1">
      <div >
        <img
          class="left-panel-image"
          src="https://source.unsplash.com/1000x500/?computer"
          alt="Computer"
        />
      </div>
      <div >
        <ul>
          <li>Dashboard</li>
          <li>Calendar</li>
          <li>Team Management</li>
          <li>Performance Management</li>
          <li>File Manager</li>
          <li>Forms</li>
          <li>Itinerary</li>
          <li>Feeds</li>
          <li>Partners</li>
        </ul>
      </div>
      <div >
        <img
          class="left-panel-image bottom-image"
          src="https://source.unsplash.com/1000x500/?Laptop"
          alt="Computer"
        />
      </div>
    </div>
    <div style="width: 95%;" class="div2">
      <div  class="border-class top-panel flex">
        <div class="flex-child-panel-01">
          <span class="Resources"> Resources </span>
        </div>
        <div class="flex-child-panel-02">
          <input class="input" type="text" placeholder="Search here.." />
        </div>
        <div style=" padding-left: 20px;" class="flex-child-panel-03">Mssg</div>
      </div>
      <div style="background-color: antiquewhite;     padding: 20px;
      border-radius: 15%" class="border-class middle-panel">
        <div>
          <b>Practice Guideline</b>
        </div>
        <div>
        <!---4divs-->
          <div style="padding-left:20px" class="border-class">

            <div>
              <p>Title Here &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Calendar date</p>
              <p></p>
            </div>
            <div>
              loremloremloremloremloremloremloremloremlorem
              loremloremloremloremloremloremloremloremloremloremlorem
            </div>
          


          </div>
          <div style="padding-left:20px" class="border-class">

            <div>
              <p>Title Here &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Calendar date</p>
              <p></p>
            </div>
            <div>
              loremloremloremloremloremloremloremloremlorem
              loremloremloremloremloremloremloremloremloremloremlorem
            </div>
          


          </div>
          <!-- <div style="padding-left:20px" class="border-class">
            <div>
              <p>Title Here &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Calendar date</p>
              <p></p>
            </div>
            <div>
              loremloremloremloremloremloremloremloremlorem
              loremloremloremloremloremloremloremloremloremloremlorem
            </div>
          </div>
          <div style="padding-left:20px" class="border-class">

            <div>
              <p>Title Here &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; Calendar date</p>
              <p></p>
            </div>
            <div>
              loremloremloremloremloremloremloremloremlorem
              loremloremloremloremloremloremloremloremloremloremlorem
            </div>
          


          </div> -->
           <!---4divs-->
        </div>
      </div>
      <div class="border-class bottom-panel">

        <div class="bottom-top border-class" >
         Add - Guidelines
        </div>

        <div style="padding-left: 20px" class="bottom-main border-class"> 
          

          <div  >
            <b>Notices and Disclaimers</b>
          </div>
          <div style="padding-left:20px" class="border-class">
            <div>
              <p>Notices Title</p>
            </div>
            <div>
              loremloremloremloremloremloremloremloremlorem
              loremloremloremloremloremloremloremloremloremloremlorem
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="div3 border-class">
      <div class="flex" >
        <div style="width:15%;" >
       Icon
        </div>
        <div style="width:83%;" >
          some organizational name
        </div>

      </div>
      <div >
        <img
        class="right-panel-image"
        src="https://source.unsplash.com/263x575/?cricket"
        alt="Computer"
      />


      </div>

      
      
     
    
    </div>
 
</div>
